<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Bootstrap tags -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <title>게시판입니다.</title>


</head>

<body>

<div class="container">

  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a th:href="@{/}" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a th:href="@{/board/list}" class="nav-link px-2 link-dark">Board</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>


  <div class="page-header">
    <h1>게시글 수정</h1>
  </div>

  <div class="starter-template">
    <form class="form-horizontal" th:action method="post">
      <input type="hidden" name="_method" value="put"/>
      <input type="hidden" name="id" th:value="${boardDto.id}"/>
      <input type="hidden" name="searchType" th:value="${searchDto.searchType}"/>
      <input type="hidden" name="keyword" th:value="${searchDto.keyword}"/>

      <div class="form-group">
        <label style="float: left" for="title" class="col-sm-2 control-label">제목</label>
        <div class="col-sm-10" style="margin-top: 10px;">
          <input th:value="${boardDto.title}" type="title" class="form-control" id="title" name="title" placeholder="제목"/>
        </div>
      </div>

      <div class="form-group">
        <label style="float: left" for="writer" class="col-sm-2 control-label">작성자</label>
        <div class="col-sm-10" style="margin-top: 10px;">
          <input th:value="${boardDto.writer}" type="writer" class="form-control" id="writer" name="writer" placeholder="작성자"/>
        </div>
      </div>

      <div class="form-group">
        <label style="float: left" for="content" class="col-sm-2 control-label">내용</label>
        <div class="col-sm-10">
          <textarea th:text="${boardDto.content}" class="form-control" id="content" name="content" placeholder="내용을 입력해 주세요."></textarea>
        </div>
      </div>

      <div class="btn_wrap text-center">
        <a th:if="${searchDto.searchType == null && searchDto.keyword == null}" th:href="@{/board/{id}(id=${boardDto.id}, page=${page})}" class="btn btn-secondary">취소</a>
        <a th:unless="${searchDto.searchType == null && searchDto.keyword == null}" th:href="@{/board/{id}(id=${boardDto.id}, page=${page}, searchType=${searchDto.searchType}, keyword=${searchDto.keyword})}" class="btn btn-secondary">취소</a>
        <button type="submit" class="btn btn-primary waves-effect waves-light">수정</button>
      </div>
    </form>
  </div>


</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>