<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<th:block th:fragment="findPw">
<body>
  <!-- 비밀번호 찾기 모달 -->
  <div class="modal fade" id="findPwModal" tabindex="-1" aria-labelledby="findPwModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="findPwModalLabel">비밀번호 찾기</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <div style="color: #ac2925">
            <center>입력한 이메일로 임시 비밀번호가 전송됩니다.</center>
          </div>
          <hr>
          <form role="form">
            <div class="input-group input-group-outline my-3">
              <input type="email" id="userEmail" name="userEmail" class="form-control" placeholder="가입시 등록한 이메일을 입력하세요." required>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">전송하기</button>
        </div>
      </div>
    </div>
  </div>
</body>
</th:block>
</html>

<script>

    const header = $("meta[name='_csrf_header']").attr('content');
    const token = $("meta[name='_csrf']").attr('content');

    $('#checkEmail').on('click', function(){
        checkEmail();
    });

    function checkEmail(){
        const memberEmail = $('#memberEmail').val();

        if(!memberEmail || memberEmail.trim() === ""){
            alert("이메일을 입력하세요.");
        } else {
            $.ajax({
                type: 'GET',
                url: '/rest/checkEmail',
                data: {
                    'memberEmail': memberEmail
                },
                dataType: "text",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            }).done(function(result){
                console.log("result :" + result);
                if (result == "true") {
                    sendEmail();
                    alert('임시비밀번호를 전송 했습니다.');
                    window.location.href="/auth/login";
                } else if (result == "false") {
                    alert('가입되지 않은 이메일입니다.');
                }
            }).fail(function(error){
                alert(JSON.stringify(error));
            })
        }
    };

    function sendEmail(){
        const memberEmail = $('#memberEmail').val();

        $.ajax({
            type: 'POST',
            url: '/sendPwd',
            data: {
                'memberEmail' : memberEmail
            },
            beforeSend: function(xhr){
                xhr.setRequestHeader(header, token);
            },
            error: function(error){
                alert(JSON.stringify(error));
            }
        })
    }
  </script>