<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- BootStrap link -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <title>게시판입니다.</title>


</head>

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/main}" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a th:href="@{/board/list}" class="nav-link px-2 link-dark">Board</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <a sec:authorize="!isAuthenticated()" class="btn btn-outline-primary me-2" th:href="@{/login}">로그인</a>

                <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                    <span>[[${userDto.getNickname}]]</span>
                    <button class="btn btn-primary" type="submit">로그아웃</button>
                </form>
            </div>
        </header>
    </div>



</body>
</html>
