<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <!-- Bootstrap tags -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet"/>
    <!-- 나의 스타일 추가 -->
    <link rel="stylesheet" href="css/login.css">

</head>
<body class="text-center">

<!--  html 전체 영역을 지정하는 container -->
<div id="container">
    <!--  login 폼 영역을 : loginBox -->

    <main class="main">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">게시판 만들기</h1>
                    <p class="text text-normal">New user? <span><a th:href="@{/signup}" class="text text-links">회원가입</a></span>
                    </p>
                </div>
                <form th:action="@{/login/action}" method="post" class="form">
                    <div class="input-control">
                        <label for="email" class="input-label" hidden>Email Address</label>
                        <input type="email" name="email" id="email" class="input-field" placeholder="Email Address">
                    </div>
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password</label>
                        <input type="password" name="password" id="password" class="input-field" placeholder="Password">
                    </div>

                    <div th:if="${param.error}">
                        <p class="error-message" th:text="${errorMessage}" style="color:red;">이메일 또는 비밀번호가 맞지 않습니다.</p>
                    </div>

                    <div class="input-control">
                        <a href="#" class="text text-links">Forgot Password</a>
                        <input type="submit" name="submit" class="input-submit" value="로그인">
                    </div>
                </form>
                <div class="striped">
                    <span class="striped-line"></span>
                    <span class="striped-text">Or</span>
                    <span class="striped-line"></span>
                </div>
                <div class="method">
                    <div class="method-control">
                        <a href="/oauth2/authorization/google" class="method-action">
                            <i class="ion ion-logo-google"></i>
                            <span>Sign in with Google</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-facebook"></i>
                            <span>Sign in with Facebook</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="ion ion-logo-apple"></i>
                            <span>Sign in with Apple</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>

</body>
</html>